spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:postgresql://localhost:5432/tickets_db
    username: postgres
    password: 200622

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true

server:
  port: 8080

security:
  jwt:
    secret: "bdu1ijtyjetq5kimuqb8yon3khvwt661"


